<!doctype html>

<html>
<head>
  <title>Crypto Dashboard</title>
  <style>
    .coinmarketcap-currency-widget {
      width: 23%;
      margin: 10px 1%;
      float: left;
    }
  </style>
  <meta http-equiv="refresh" content="60">
</head>
<body>

<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="iota" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="ripple" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="blackcoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="crown" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="dash" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="emercoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="expanse" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="feathercoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="lisk" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="myriadcoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="peercoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="pivx" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="vertcoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="viacoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="voxels" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="stealthcoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="reddcoin" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="particl" data-base="EUR" data-secondary="BTC"></div>
<div class="coinmarketcap-currency-widget" data-currency="zcoin" data-base="EUR" data-secondary="BTC"></div>


</body>
</html>

